:root {
    --spotify-green: #1DB954;
    --footer-height: 40px;
}

html, body, * {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    cursor: default;
}

body {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
}

.home {
    background-color: red;
    mask:url(./icon/About.svg) no-repeat center;
}

.left {
    background-color: black;
    position: relative;
    width: 300px;
    left: 0;
    bottom: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    position: relative;
}

.gray-filtered {
    filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0deg);
}

.menu ul {
    width: 100%;
}

.menu ul li img {
    width: 24px;
}
.menu ul li {
   padding: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: gray;
}
.menu ul *  { 
    cursor: pointer;
}

.menu ul li a span {
    position: relative;
    top: -5px;
    left: 8px
}

.menu ul li:first-child() a img {
    filter: invert(0.5) sepia(0) saturate(89) hue-rotate(75deg) !important;
}

.menu li:first-child span {
    color:white !important;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    padding-left: 0 !important;
}

.playlists {
    font-weight: 400 !important;
}

.playlists ul li a span {
    left: 0px;
}

.current-song-cover img {
    position: absolute;
    width: 100%;
    bottom: 40px;
    left: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--footer-height)) !important;
}

.right {
    width: 100%;
}

.arrow-container {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-arrows  {
    display: flex;
    align-items: center;
}

.arrow-container {
    margin-right: 15px !important;
}

.playlist-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-header {
    padding: 20px;
}

.playlist-top-email {
    display: flex;
    align-items: center;
    background-color: #434343;
    border-radius: 20px;
    color:white;
}

.playlist-header .arrow-container {
    background-color: #535353;
    margin: 2px;
}

